<!DOCTYPE html>
<html>

<head>
  {{! Document Settings }}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- {{! Page Meta }} -->
  <title>{{meta_title}}</title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  <!-- {{! Styles'n'Scripts }} -->
  <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/animate.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/pace.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />
  <link rel="stylesheet" type="text/css" href="{{asset "fonts/icons/icons.css"}}" />
  <link href="https://fonts.googleapis.com/css?family=Athiti&amp;subset=vietnamese" rel="stylesheet">

  {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
  <script type="text/javascript" src="{{asset "js/jquery-1.12.0.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/pace.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/wow.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/prism.js"}}"></script>
  <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
  {{! The main JavaScript file for Blacklist }}
  {{!-- gitalk --}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/gitalk.css"}}" />
  <script type="text/javascript" src="{{asset "js/gitalk.js"}}"></script>

  {{! Ghost outputs important style and meta data with this tag }}
  <script>
    var gitalkConfig = null
  </script>
  {{ghost_head}}
</head>

<body class="{{body_class}}">

  <div class="container">

    {{> "header"}}

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{> "footer"}}

  </div>

  {{! Ghost outputs important scripts and data with this tag }}
  {{ghost_foot}}

  <script>
    var images = document.querySelectorAll('.kg-gallery-image img');
    images.forEach(function (image) {
      var container = image.closest('.kg-gallery-image');
      var width = image.attributes.width.value;
      var height = image.attributes.height.value;
      var ratio = width / height;
      container.style.flex = ratio + ' 1 0%';
    })
  </script>

  {{#is "post"}}
  <script type="text/javascript">
    if (gitalkConfig) {
      var gitalk = new Gitalk(gitalkConfig)
      gitalk.render('gitalk-container')
    }
  </script>
  {{/is}}

</body>

</html>